.output
/.output/
output
output/
output_nonvanilla
output_nonvanilla/
/output_nonvanilla/
.output_nonvanilla/
plainoutput
plainoutput/
/plainoutput/
.plainoutput/
lowLRexperiment
/lowLRexperiment/
.lowLRexperiment/
trashoutput
/trashoutput/
.trashoutput/